-e git+https://github.com/joshblum/django-with-audit.git#egg=django
-e git+https://github.com/joshblum/django-audit-log.git#egg=audit_log
django-registration==0.8
django-registration-defaults==0.3
django-kronos==0.3
django-evolution==0.6.7